Repository cesium/seium.org, pull requests merged in 2022-01, with the labels that each got.

#160 Fix error on prop key and refactor component
  components/website/faqs/Question/index.jsx
  components/website/faqs/Questions/Question/index.jsx
  components/website/faqs/Questions/index.jsx
  components/website/faqs/index.jsx
Labels: bug

#168 People info from json
  components/website/home/Speakers/index.jsx
  data/jury.json
  data/mentors.json
  data/speakers_selection.json
  pages/hackathon.js
Labels: Website

#165 :art: Make buttons Pretty
  components/utils/Button/index.jsx
  components/website/challenges/Challenges/Challenge/index.jsx
  components/website/hackathon/Hero/index.jsx
  components/website/hackathon/Regulations/index.jsx
  components/website/home/Hackathon/index.jsx
  components/website/home/Hero/Pitch/index.jsx
  components/website/home/Speakers/index.jsx
  components/website/utils/Schedule/Day/Filters/index.jsx
  pages/login.js
  pages/profile.js
  pages/signup.js
Labels: Moonstone, Website

#171 Fixed home's schedule clicking
  components/website/utils/Footer/index.jsx
  components/website/utils/Footer/style.module.css
  components/website/utils/Schedule/Table/Block/index.jsx
  components/website/utils/Schedule/Table/index.jsx
  components/website/utils/Schedule/index.jsx
  pages/schedule.js
Labels: Website

#186 Add speakers information + selected speakers
  data/speakers.json
  data/speakers_selection.json
  public/images/speakers/heldercoelho.png
  public/images/speakers/joaooliveira.png
  public/images/speakers/larsfrische.png
  public/images/speakers/paulolopes.png
  public/images/speakers/saravieira.png
  public/images/speakers/tbd.png
Labels: Website

#183 Responsive schedule
  components/website/utils/Schedule/Day/Filters/index.jsx
  components/website/utils/Schedule/Day/index.jsx
  components/website/utils/Schedule/Table/Block/index.jsx
  components/website/utils/Schedule/Table/Block/style.module.css
  components/website/utils/Schedule/index.jsx
  components/website/utils/Schedule/style.module.css
  data/schedule.json
  pages/schedule.js
Labels: Website

#162 Fix sponsors responsiveness
  components/website/home/Sponsors/Tab/style.module.css
  components/website/home/Sponsors/index.jsx
Labels: Website

#185 Fixed button in 404 page
  pages/404.js
Labels: Website

#187 Make speakers page responsive
  components/website/speakers/Hero/Title/index.jsx
  components/website/speakers/Schedule/Day/index.jsx
  components/website/speakers/Schedule/index.jsx
  pages/speakers.js
Labels: Website

#197 Add faqs
  data/faqs.json
Labels: Website

#202 Add Contingency plan PDF link
  components/website/utils/Footer/index.jsx
  package-lock.json
  package.json
  public/docs/contingency-plan-2616d0424547c145781b4aabc2422c53.pdf
Labels: Website

#203 Add speakers link
  components/website/home/Speakers/index.jsx
Labels: Website

#206 Fix hackathon section
  components/website/home/Hackathon/index.jsx
Labels: Website

#208 Fix Login
  components/moonstone/authentication/Title/index.jsx
  components/moonstone/utils/Return/index.jsx
  pages/forgot-password.js
  pages/login.js
  pages/password-recovery.js
  pages/signup.js
Labels: Moonstone

#201 Make Navbar Responsive
  components/website/challenges/Hero/index.jsx
  components/website/faqs/index.jsx
  components/website/hackathon/Hero/index.jsx
  components/website/home/Hero/Organization/index.jsx
  components/website/home/Hero/index.jsx
  components/website/schedule/Hero/index.jsx
  components/website/speakers/Hero/index.jsx
  components/website/team/Hero/index.jsx
  components/website/utils/JoinUs/index.jsx
  components/website/utils/Navbar/index.jsx
  pages/challenges.js
  pages/faq.js
  pages/hackathon.js
  pages/index.js
  pages/schedule.js
  pages/signup.js
  pages/speakers.js
  pages/team.js
Labels: Website

#219 Fix hackathon responsiveness
  components/website/hackathon/Hero/ExpectList/index.jsx
  components/website/hackathon/Hero/Organization/index.jsx
  components/website/hackathon/Hero/index.jsx
  components/website/hackathon/Regulations/index.jsx
Labels: Website

#217 fill hackathon information and links
  components/website/hackathon/Awards/index.jsx
  components/website/hackathon/Hero/ExpectList/index.jsx
  components/website/hackathon/Hero/Pitch/index.jsx
  components/website/hackathon/Hero/index.jsx
  components/website/hackathon/Regulations/index.jsx
  pages/hackathon.js
Labels: Website

#225 Fix mascot animation sm
  components/website/schedule/Hero/Title/index.jsx
  components/website/utils/UnderlineAnimation/index.jsx
Labels: Website

#234 Change animations
  components/website/schedule/Hero/index.jsx
  components/website/speakers/Schedule/Table/Block/index.jsx
  components/website/speakers/Schedule/index.jsx
  pages/schedule.js
Labels: Website

#236 Move pages to draft
  draft/awards.js
  draft/badge/[slug].js
  draft/badgedex.js
  draft/challenges.js
  draft/forgot-password.js
  draft/leaderboard.js
  draft/login.js
  draft/password-recovery.js
  draft/profile.js
  draft/signup.js
  draft/sponsor/offline/dashboard.js
  draft/sponsor/offline/staff.js
  draft/sponsor/online/dashboard.js
  draft/sponsor/online/spotlight.js
  draft/team.js
  draft/wheel.js
  pages/404.js
Labels: Website

#246 Change end date for schedule in speakers
  components/website/speakers/Schedule/index.jsx
Labels: bug
